PORT = 8000
DATABASE_URL = mongodb+srv://Shubham:<db_password>@cluster0.ysf9jrt.mongodb.net/?appName=Cluster0
ACCESS_TOKEN_SECRET = chai-aur-code
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = chai-aur-backend
REFRESH_TOKEN_EXPIRY = 10d